:root {
    --primary-color: #05465a; /*forest green*/
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header, main, .grid, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    top: 165px;
    padding: 10px;
    width: 95%;
    opacity: 0.95;
    text-align: left; 
}

.hero article img {
    float: right;
    width: 125px;
    /* border: 15px; */
    margin: 15px;
    box-shadow: 0 0 10px gray;
}


section h2 {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;   
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    gap: 40px;
    margin: 0; 
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fcfdfd;
    border-radius: 6px;
    color: #fcfdfd;
    font-weight: bold;   
}

.grid{
    display: grid;
    align-items: center;
}

header {
    width: 100%;
    max-width: 840px;
    margin: 10px auto;
    background-color: var(--accent1-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
 .history_grid {
    background-color: #e9c46a;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
 }

 .history_grid img {
    width: 200px;
    display: block;
    margin: 0 auto;
 }

 .history_grid p {
    font-size: 1rem;
    line-height: 1.4;
 }

.adventure_grid {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

footer p {
    text-align: right;
}

.socialmedia_flex {
    background-color: #c5b7e8;
    display: flex;
    justify-content: right;
}



