:root {
    --primary-color: #05465a; /*forest green*/
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color: #264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header, main, .grid, footer {
    width: 840px;
    margin: 0 auto;
}

.hero h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    top: 165px;
    padding: 10px;
    width: 95%;
    opacity: 0.95;
    text-align: left; 
}

.hero article img {
    float: right;
    width: 125px;
    /* border: 15px; */
    margin: 15px;
    box-shadow: 0 0 10px gray;
}


section h2 {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;   
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    gap: 40px;
    margin: 0; 
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #fcfdfd;
    border-radius: 6px;
    color: #fcfdfd;
    font-weight: bold;   
}

.grid{
    display: grid;
    align-items: center;
}

header {
    width: 100%;
    max-width: 840px;
    margin: 10px auto;
    background-color: var(--accent1-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
 .history_grid {
    background-color: #e9c46a;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
 }

 .history_grid img {
    width: 200px;
    display: block;
    margin: 0 auto;
 }

 .history_grid p {
    font-size: 1rem;
    line-height: 1.4;
 }

.adventure_grid {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #c5b7e8;
    padding: 20px 0;

}

.socialmedia_flex {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia p {
    margin: 0;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 40px;
    height: auto;
}



/* Contact Web page part */

h3, p {
    padding: 1px;
    margin: 2px;
    font-weight: bold;
}

.info {
    text-align: center;
}

.contact {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    margin: 30px auto;
    max-width: 840px;
}

.map iframe {
    width: 350px;
    height: 350px;
    border: 1px solid #ccc;
}

.form {
    width: 350px;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px;
    align-items: center;
}

.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.message_purpose label {
    display: grid;
    justify-content: left;
}

.radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox {
    grid-column: 1 / -1;
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    grid-column: 1 / -1;
    padding: 10px;
    background: #393838;
    color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.employee_grid {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
    text-align: center;
}

/* Index Web Page Part */

form {
    margin: 10px;
    padding: 10px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    text-align: center;
}

.form-group {
    width: 350px;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1px;
    align-items: center;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin: 2px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    text-align: left;
}

.but {
    text-align: left;
    margin-left: 98px;
    padding: 5px;
}

.index_trip {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-size: medium;
}

.index_trip img {
    border-radius: 15px;
    box-shadow: 0 0 5px gray;
}



















/* Trip Web Page Part */

.box h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: var(--accent2-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 15px;
}

.box a {
    padding: 3px 5px;
    background: #393838;
    color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    gap: 500px;
}

.detailed_trip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.detailed_trip img {
    border-radius: 15px;
    box-shadow: 0 0 7px gray;
}

table {
  background-color: var(--accent2-color);
  border-collapse: collapse;
  border: 2px solid var(--accent1-color);
  letter-spacing: 1px;
  margin: 10px;
}            

th, td {
  border: 1px solid var(--accent1-color);
  padding: 8px 12px;
  text-align: center;
}

thead tr {
  background-color: rgb(0 0 0);
  font-weight: 700;
}
