h1 {
    text-align: center;
    color: #000080;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    background-color: #EEEEEE;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: .3rem;

}

.examplecode {
    background-color: #333333;
    color: white;
    padding: 15px;
    margin-left: 2rem;
    margin-right: 35rem;
    padding-left: .25rem;
}

button {
  margin: 1rem;
  background-color: #000080;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

label, input, textarea, select, button {
    margin: .5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.num {
    color: #000080;
    font-weight: bold;
}

