:root {
    --heading-background-color: darkblue;
    --heading-text-color: #0e421c;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: var(--heading-background-color); 
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--heading-text-color);
    margin: 10px;
    padding: 5px;
    border: 1px solid #0e421c;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;  
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 90px;
}



aside img {
    width: 200px;
    height: auto;    
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*  Class Selectors   */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}