body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center; 
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto; 
}

header {
    font-size: 1.8rem;
}

footer {
    font-size: 1.0rem;
}

section {
    background-color: lightgray;
    padding: 10px;
    margin: 15px auto;
}

main {
    margin: 0 auto;
    max-width: 800px;   
}

h1 {
    text-align: center;
}

h2 {
    border-bottom: 1px solid black;
}

picture img {
    box-shadow: 0 0 30px #333333;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

p {
    margin: 10px;
}
